@model WebAppMupin.Models.NewUser

<div class="modal-content">
    <div class="modal-header">Inserimento Nuovo Utente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" style=" text-align: center;">

        <form method="post" id="form">
            @if (!string.IsNullOrEmpty(Model.message))
            {
                <strong>@Model.message</strong>
            }
        <div class="form-group">
            <label> Nome </label>
            <br/>
            @Html.TextBoxFor(n => n.Nome)
            <br />

            <label> Cognome</label>
            <br/>
            @Html.TextBoxFor(c=>c.Cognome)
            <br/>

            <label for="exampleInputEmail1">Email address</label>
            <br />
            @Html.TextBoxFor(u => u.UserName)
            <br />

            <p>Password di default : @Model.DefaultPassword</p>

        </div>
         
            <button type="submit" class="btn btn-primary" id="invia">Inserisci</button>
        </form>



    </div>
</div>
<script>

    $("#form").submit(function (e) {

        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Insert")",
            data: $('#form').serialize(),
            success: function (data) {
                alert(data); 
                location.reload();
            },
            error:()=> {
                alert("Internal error");
            }
        });

    });

</script>