@model WebAppMupin.Models.Reperti.RepertoDetail

<form id="formDetail" enctype="multipart/form-data" action="@Url.Action("InsertDetail","Insert")">
    <label for="Note" > Note   </label>
    @Html.TextBoxFor(d => d.Note)
    <br />
    <hr />
    <label for="Url"> URL  </label>
    @Html.TextBoxFor(d => d.Url)
    <br />
    <hr />
    <label for="Tag">  TAG  </label>
    @Html.TextBoxFor(d => d.Tag)
    <br />
    <hr />
    <label for="Immagine"> Immagine </label>
    @Html.TextBoxFor(d => d.Immagine, new { type = "file" })
</form>