@model WebAppMupin.Models.Reperti.Software

<h4>Inserimento nuovo Software</h4>
<h6>I campi contrassegnati da * sono obbligatori</h6>

<form id="form" enctype="multipart/form-data" action="@Url.Action("InsertSoftware","Insert")">
    <label for="Identificativo"> Identificativo (*) </label>
    @Html.TextBoxFor(s => s.Identificativo)
    <br />
    <hr />
    <label for="Titolo">  Nome del Software (*) </label>
    @Html.TextBoxFor(s => s.Titolo)
    <br />
    <hr />
    <label for="sistemaOperativo"> Sistema operrativo di utilizzo (*) </label>
    @Html.TextBoxFor(s => s.sistemaOperativo)
    <br />
    <hr />
    <label for="tipoSoftware"> Tipo di software (*) </label>
    @Html.TextBoxFor(s => s.tipoSoftware)
    <br />
    <hr />
    <label for="supporto"> tipo di supporto (*) </label>
    @Html.TextBoxFor(s => s.supporto)
    <br />
    <hr />
</form>
