@model WebAppMupin.Models.Reperti.Libro

<h4>Inserimento nuovo Libro</h4>
<h6>I campi contrassegnati da * sono obbligatori</h6>

<form id="form" enctype="multipart/form-data" action="@Url.Action("InsertLibro","Insert")">
    <label for="Identificativo"> Identificativo (*) </label>
    @Html.TextBoxFor(l => l.Identificativo)
    <br />
    <hr />
    <label for="ISBN"> ISBN (*) </label>
    @Html.TextBoxFor(l => l.ISBN)
    <br />
    <hr />
    <label for="Titolo"> Titolo libro (*) </label>
    @Html.TextBoxFor(l => l.Titolo)
    <br />
    <hr />
    <label for="autori"> Autori (*) </label>
    @Html.TextBoxFor(l => l.autori)
    <br />
    <hr />
    <label for="CasaEditrice"> Casa editrice (*) </label>
    @Html.TextBoxFor(l => l.CasaEditrice)
    <br />
    <hr />
    <label for="AnnoPubblicazione"> Anno di pubblicazione (*) </label>
    @Html.TextBoxFor(l => l.AnnoPubblicazione)
    <br />
    <hr />
    <label for="numeroPagine"> Numero di pagine (*) </label>
    @Html.TextBoxFor(l => l.numeroPagine)
    <br />
    <hr />
 </form>
