@model WebAppMupin.Models.Reperti.Rivista

<h4>Inserimento nuovo Rivista</h4>
<h6>I campi contrassegnati da * sono obbligatori</h6>

<form id="form" enctype="multipart/form-data" action="@Url.Action("InsertRivista","Insert")">
    <label for="Identificativo"> Identificativo (*) </label>
    @Html.TextBoxFor(r => r.Identificativo)
    <br />
    <hr />
    <label for="Titolo"> Titolo rivista (*) </label>
    @Html.TextBoxFor(r => r.Titolo)
    <br />
    <hr />
    <label for="numeroRivista"> Numero della rivista (*) </label>
    @Html.TextBoxFor(r => r.numeroRivista)
    <br />
    <hr />
    <label for="Anno"> Annp di pubblicazione (*) </label>
    @Html.TextBoxFor(r => r.Anno)
    <br />
    <hr />
    <label for="casaEditrice"> Casa editrice (*) </label>
    @Html.TextBoxFor(r => r.casaEditrice)
    <br />
    <hr />
</form>
